# Terraform
terraform.tfstate*
.terraform/*
.terraform.lock.hcl

# Credentials
*service-account.json
*.pem

# Cromwell
cromwell/cromwell-executions/*
cromwell/*.logs
cromwell/cromwell-*.jar

# Manually created untracked files
outputs/*

# Emacs temp files
*~
README.html
*#*
