# Terraform
central-server/terraform/terraform.tfstate*
central-server/terraform/.terraform/*
central-server/terraform/.terraform.lock.hcl
central-server/terraform/secrets.auto.tfvars

manual-workflows/cromwell.conf

# Credentials
*service-account.json
*.pem

# Cromwell
cromwell/cromwell-executions/*
cromwell/*.logs
cromwell/cromwell-*.jar

# Manually created untracked files
outputs/*

# Emacs temp files
*~
README.html
*#*
