cython<3.0.0

cwl_utils
miniwdl == 1.2.1

# major API change after 0.15.0
ruamel.yaml >= 0.15.0

pathlib == 1.0.1


# do not use google-cloud-storage
# it requires a service-account setup instead of personal creds
